.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding-inline: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 600;

  &:not(.square):not(.small) {
    width: 115px;
  }
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.square {
  height: 35px;
  min-width: 35px;
  padding-inline: 0;
}

.small {
  width: 90px;
}

.transparent {
  background: none;
}
.transparent:hover {
  background: none;
}

.add {
  background-color: var(--color-add);
}
.add:hover {
  background-color: var(--color-add-hover);
}

.edit {
  background-color: var(--color-edit);
  color: black;
}
.edit:hover {
  background-color: var(--color-edit-hover);
}

.delete {
  background-color: var(--color-delete);
}
.delete:hover {
  background-color: var(--color-delete-hover);
}
