/* || Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* || Styles */

:root {
  --color-default: #343a40;

  --color-primary: #4285f4;
  --color-primary-hover: #3a7be5;

  --color-add: #0f9d58;
  --color-add-hover: #0d864f;

  --color-edit: #ffc107;
  --color-edit-hover: #e0ac05;

  --color-delete: #f44336;
  --color-delete-hover: #d13629;

  --color-neutral: #e5e5e5;
  --color-neutral-light: #ecf0f1;
}

#root {
  min-height: 100vh;
  color: var(--color-default);
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
}
