.cliente-form {
  width: 600px;
  display: grid;
  gap: 1em;
  border: 2px solid var(--color-neutral);
  border-top: 1em;
  padding-bottom: 1.5em;
  border-radius: 5px;
  background-color: white;
}

.cliente-form-header {
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0.3em;
  padding-left: 0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: calc(100% + 4px);
  transform: translateX(-2px);
}

.form-row {
  display: flex;
  padding-inline: 1em;
  gap: 1em;
}

.form-field {
  flex-basis: 100%;
}

.contatos-cliente {
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.actions {
  padding-top: 2em;
  padding-inline: 1em;
  justify-self: end;
  display: flex;
  gap: 1em;
}
