.table {
  border-spacing: 0;
}
.table.small {
  font-size: 0.7rem;
}

.thead {
  background-color: var(--color-neutral-light);
}

.th {
  padding: 0.5em;
}

.td {
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid var(--color-neutral-light);
  padding: 0.5em;
  cursor: pointer;
}
